# Visual Studio
.vs*
bin/
obj/

# Python
.venv/
__pycache__/
*.pyc

# VS Code
.vscode/

# Kubernetes secrets
secrets.yaml
*.secret.yaml

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db
